<main class="container">
  <h1>Quote editor</h1>
  <p>A blazing fast quote editor built with Hotwire</p>

  <% if user_signed_in? %>
    <%= link_to "Administration", "/espace-admin", class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Adhesion", new_user_registration_path, class: "btn btn--dark" %>
    <%= link_to "Connectez-vous", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>